.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}
.nav-menu li{
    cursor: pointer;
    transition: 0.5s;
}
.nav-menu li:hover{
    color: rgba(177, 168, 168, 0.74);
    transition: 0.5s;
}
@media (max-width:768px) {
   .nav-mob-open{
    display: block;
    position: fixed;
    right: 30px;
   }
   .nav-mob-close{
    display: block;
    position: relative;
    top: 30px;
    left: 290px;
    width: 30px;

   }
   .nav-menu{
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0px;
    gap: 30px;
    background-color: #1f0016;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
   }
   .nav-menu li{
    padding-left: 150px;
    flex-direction: row;
    gap: 30px;
   }
  
}